@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "JetBrains Mono", monospace, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-background: hsl(220, 13%, 8%);
    --color-border: hsl(220, 13%, 18%);
    --color-primary: hsl(142, 76%, 36%);
    --color-secondary: hsl(220, 13%, 11%);
    --color-muted: hsl(220, 13%, 90%);
    --color-muted-foreground: hsl(220, 9%, 65%);
}
